*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient( 180.4deg,  rgba(0,6,10,1) 1%, rgba(1,190,237,1) 91.4% );
}
.main{
    margin-left: 20px;
    margin-top: 200px;
    align-items: center;
    display: flex;
    width: 300px;
    height: 300px;
    /* background-color: white; */
    color: white;
    gap: 10px;
}
h2{
    text-align: center;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
}
.card{
    align-items: center;
    text-align: center;
    width: 300px;
    color: white;
}
i{
    font-size: 40px;
}
.pagecontent{
    width: 300px;
    text-align: center;
}
.card:hover{
    background-image: linear-gradient( 70.6deg,  rgba(172,30,255,1) 0.3%, rgba(65,35,251,1) 55.8%, rgba(35,251,224,1) 105.1% );
    transition: 1s ease;
    transform: scale(1.1,1.1);
    color: rgb(255, 254, 254);
    border-radius: 20px;
    margin-bottom: 50px;
    gap: 10px;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
    cursor: pointer;
}
#back{
    background-image: linear-gradient( 75.1deg,  rgba(34,126,34,1) 6%, rgba(99,226,17,1) 84.3% );
    padding: 15px;
    border-radius: 20px;
    border: 1px solid white;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 550px;
    font-size: 20px;
}
#back:hover{
    transform: scale(1.2,1.2);
    transition: 1s ease;
    box-shadow: 2px 2px 30px 1px yellow;
    color: white;
    
}
h1{
    color: white;
    text-align: center;
    padding-top: 50px; 
    text-transform: capitalize;
    text-decoration: underline;
}
    

